<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MasterApp"
        tools:targetApi="31">
        <activity
            android:name=".RegistrationSearch"
            android:exported="false"
            android:parentActivityName=".Registration"/>
        <activity
            android:name=".RegistrationDetails"
            android:exported="false"
            android:parentActivityName=".Registration" />
        <activity
            android:name=".Registration"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DateTime"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GalleryImage"
            android:exported="false"
            android:parentActivityName=".Gallery" />
        <activity
            android:name=".Gallery"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".President"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CustomToast"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".IntentDisplay"
            android:exported="false"
            android:parentActivityName=".IntentMain" />
        <activity
            android:name=".IntentMain"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Calculator"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Form"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Sum"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LifeCycle"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HelloWorld"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>